@import "../style/variables.css";
@import "../fuentes";

* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  /* background-color:rgb(207, 137, 93); */
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  

}
#foto1 {
  text-align: right;
}

body {
  background-image: url('../imagenes/gradiente.jpg');
  background-size: cover;
  background-position: center;
  min-height: 1280px;
  color: white;
  font-size: 24px;
}

h1 {
  text-align: left;
}

#intro {
  max-width: 60rem;
  margin: 0.5rem auto;
  text-align: left;
  position: relative;
}

.intro__hed {
  font-family: bjork;
  font-size: 3.5em;
  line-height: 1.2;
  color: White;
  text-align: center;
  padding-top: 30px;
  margin-bottom: 0.1em;
}
.intro__hed0 {
  font-size: 3em;
  line-height: 1.2;
  color: rgb(89, 6, 6);
  text-align: center;
  padding: 2rem 0;
  margin-bottom: 0.5rem;
}

.intro__dek {
  color: #8a8a8a;
}

#outro {  
  max-width: 60rem;
  margin: auto;
  -webkit-text-fill-color: #fff;
}


#scrolly {
  position: relative;
  /* background-color: #f3f3f3; */
  transition: 1s;
  font-size: 16px;
}

#scrolly svg  {
  display: block;
  margin: auto;
}


article {
  position: relative;
  padding: 0;
  max-width: 60rem;
  margin: 0.5rem auto;
}

figure {
  position: sticky;
  left: 0;
  width: 100%;
  top: 0;
  margin: 50px auto 0;
  /* background-color: #8a8a8a; */
  
}

figure p {
  text-align: center;
  padding: 1rem;
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 8rem;
  font-weight: 900;
  color: #fff;
}

.step {
  top: 50%;
  transition: 1s;
  margin: 20px;
  margin-top: 50px;
  height: 100vh;
}

.step:last-child {
  margin-bottom: 0;
  
}

#piso{
  background-color: var(--Post1);
  color: white;
  width: 100%;
  padding: 20px;
  font-size: 10px;

  
}

#fixedText {
  text-align: left;
  overflow-x: hidden;
  overflow-y: hidden;

}

#longboi {
  max-width: 100%;
}