@import "variables.css";

/* Atributos universales */

html {
    box-sizing: border-box;
}
*, *::before, *::after {
    box-sizing: inherit;
}
body {
   padding: 20px;
   font-family: Arial, sans-serif;
   background-color: var(--main-bg);
   color: var(--main-text);
   margin: auto;
   
}
h1, h3 {
  text-align: center;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
img {
  width: 100%;
  height: auto;
  margin: auto;
}
button {
  width: 300px;
  height: 150px;
}


/* pseudoclases */
.contenido {
  max-width: 800px;
  margin: 50px;
  color: var(--main-text);
  display: block;
  align-items: center;
}

.chart {
  overflow-y: auto;
  color: var(--main-text);
}
.album {
  display: block;
  align-content: center;
  padding: 0;
  margin: 0;
}
.bloquex {
  color: white;
  background-color: #443f3c;
  border-color: white;
  display: flex;
  flex-direction: row;
  justify-content: center;
  box-sizing: border-box;
  width: 1000px;
  height: 250px;
}
.bloquex > nav {
  margin:auto;
  font-size: x-large;
}


.bloque {
  line-height: 1.5;
  float: left;
  padding: 50px;
}
/* IDs */
#titulo {
    color: var(--main-h1);
}
#inicio {
  background-image: url(https://i.pinimg.com/564x/95/b7/3b/95b73b21131d6e6de309c7ff40bb6afe.jpg);
}
#foto1 {
  width: 100%;
}
#foto2 {
  height: 50%;
  width: 50%;
  float: left;
  padding-right: 20px;
  padding-bottom: 10px;
}
#foto3 {
  height: 50%;
  width: 50%;
  float: right;
  padding-left: 20px;
}
#foto4 {
  height: 50%;
  width: 50%;
  float: left;
  padding-right: 20px;
}
#chart {
  overflow-y: auto;
}
#portada {
  width: 250px;
  height: 250px;
  padding:0;
  margin:0;
}