@import "variables.css";

/* Estilos generales */

html {
    box-sizing: border-box;
}
*, *::before, *::after {
    box-sizing: inherit;
}

body {
   margin: 20px;
   font-family: Arial, sans-serif;
   background-color: var(--main-bg);
   color: var(--main-text)
}
h1,h3 {
  text-align: center;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.contenido {
  max-width: 800px;
  margin: 20px;
  color: var(--main-text);
  display: block;
}

img {
  max-width: 100%;
  height: auto;
  margin: auto;
}
.chart {
  overflow-y: auto;
  color: var(--main-text);
}

.album {
  display: grid;
  align-items: center;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 200px;
}
button {
  width: 300px;
  height: 150px;
}

/* IDs */
#titulo {
    color: var(--main-h1);
}
#foto2 {
  height: 50%;
  width: 50%;
  float: left;
  padding: 20px;
  padding-left: 0px;
}
#chart {
  overflow-y: auto;
}
#portadaAlbum {
 width: 300px;
 margin: 100px;
}