@import "variables.css";

* {
    transition: all 0.3s;
  }
  h1 {
    text-align: center;
    color: var(--main-text);
    margin:20px;
  }

  body {
    background-image: url(https://i.pinimg.com/564x/35/32/6d/35326d6fdfe5e973603b9b6bb4ecc445.jpg);
    padding: 0;
    margin: 0;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 120%;
  }

  .contenedor {
    width: 98vw;
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 20 20 20px;
  }
  

  .encabezado {
    position: relative;
    background: white;
    min-width: 300px;
    width: 70%;
    max-width: 600px;
    padding: 30px;

  }

  .categoria {
    text-align: left;
    color: transparent;
  }

  .pregunta {
    padding: 10px;
  }

  .imagen {
    object-fit: cover;
    height: 100%;
    width: 100%;
  }

  .btn {
    background: white;
    width: 98vw;
    max-width: 550px;
    padding: 10px;
    margin: 5px;
    cursor: pointer;
  }

  .btn:hover {
    transform: scale(1.05);
  }
  
  .numero{
    position: absolute;
    opacity:0.3;
    top: 10px;
    right: 10px;
  }
  .puntaje{
    padding:10px;
    color:white;
  }